#selector-panel {
    width: 30%;
    background-color: #3a80b3;
    position: absolute;
    height: 100%;
    border-right: 8px solid white;
}

#app-body {
    display: block;
    position: absolute;
    margin-left: 31%;
    width: 69%;
    height: 100%;
    color: white;
}

body {
    background-color: #6cc;
    overflow: hidden;
}